/* селектор тэга */
nav {
   color: aquamarine;
}
/* селектор класса */
main {
   color: red;
}
/* селектор id */
#starthistory {
   color: blueviolet;
}

#html5 {
   color: yellow;
}

/* использовали три вида селекторов */

/* приоритет */

.footer {
   color: chartreuse;
}
.footer {
   color: orange;
}
/* последний в записи имеет приоритет */

footer {
   color: grey;
}
/* футер остался оранжевым, т. к. селектор класса имеет приоритет над селектором тэга. Cелектор id самый приоритетный  */

#english {
   color: greenyellow;
}

/* уточнение приоретнее */

p.text {
   color: midnightblue;
}
/* все теги p c классом text - приорететнее чем все объекты с классом  */
.text {
   color: olive;
}

.text.chapter {
   color: yellow;
}

p span {
   color: green;
}

/* перечисление */
.dark,
.darkspan {
   color: palegreen;
}

/* используем селектор атрибута */
[class*="__block2"]{
   color: royalblue;
}

/* вложенность */
/* комплексные селекторы */
.block3 > p {
   color: yellowgreen;
}
.vlogtext ~ p {
   color: thistle;
}

.vlogtext + p {
   color: rgb(160, 96, 13);
}

